.mobile {
  > button {
    background: transparent;
    padding: var(--spacing-m1) var(--spacing-m2);
    border: 0;
    cursor: pointer;
  }

  .menu {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 2;
    transition: all 250ms ease-in;
    background-color: var(--bg-primary);
    backdrop-filter: saturate(180%) blur(10px);
    padding: var(--spacing-m4) var(--spacing-m6);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }

  .menuActive {
    opacity: 1;
    visibility: visible;
  }
}
