.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: var(--spacing-m1);
  margin-right: var(--spacing-m3);

  span {
    font-size: 17px;
  }

  p {
    font-size: 15px;
  }
}
