:root {
  --max-width: 1200px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-primary: #312ff5;
  --color-white: #f0f0f0;

  --bg-primary: #0a0a10;
  --bg-primary-code: 10, 10, 16;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--color-white);
  background: var(--bg-primary);
}

ol,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
