.nav {
  display: flex;
  padding-left: var(--spacing-m6);

  ul {
    display: flex;
    column-gap: var(--spacing-m4);

    li {
      list-style: none;
      font-size: 16px;
      transition: opacity 0.1s;

      &:first-child {
        margin: 0;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }

      a {
        padding: var(--spacing-m2) 0;
      }
    }
  }
}
