.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--spacing-m4);
  margin-right: var(--spacing-m2);
  border-right: 1px solid hsla(0deg, 0%, 100%, 0.1);

  ul {
    display: flex;
    column-gap: var(--spacing-m4);

    li {
      list-style: none;
      font-size: 16px;
      transition: opacity 0.1s;

      &:first-child {
        margin: 0;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }

      a {
        padding: var(--spacing-m2) 0;
      }
    }
  }

  @media (max-width: 640px) {
    width: 100%;
    padding: 0;
    border: 0;

    ul {
      width: 100%;
      flex-direction: column;

      li {
        width: 100%;
        padding-bottom: var(--spacing-m1);

        a {
          display: block;
          padding: var(--spacing-m1) 0;
        }
      }
    }
  }
}
