.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: var(--spacing-m8) 0 var(--spacing-m3);

  .prev {
    text-align: start;
  }

  .next {
    grid-column: 2/3;
    text-align: end;
  }

  .prev span:first-child,
  .next span:first-child {
    display: block;
    font-size: 16px;
    margin-bottom: var(--spacing-m1);
  }

  .prev span:last-child,
  .next span:last-child {
    font-size: clamp(19px, 2.1vw, 21px);
    color: var(--color-secondary);
  }
}
