.main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-m2);
  margin-bottom: var(--spacing-m5);

  button {
    padding: var(--spacing-m2) var(--spacing-m3);
    border-radius: 6px;
    background: transparent;
    border: 0;
    color: #ababab;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
  }

  .isActive {
    background-color: rgb(255, 255, 255, 6%);
    color: var(--color-white);
  }
}
