.button {
  min-width: 220px;
  padding: 18px 35px;
  background-color: #312ff5;
  background-image: linear-gradient(to right, #312ff5, #8743ff);
  font-size: 17px;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  font-family: inherit;
}
