// BoxSection styles
.section {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-m8);
  padding: var(--spacing-m8) var(--spacing-m2) 0;
}

// BoxContent styles
.content {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-m6);
}

.isCenter {
  align-items: center;
  text-align: center;
}

.isLeft {
  align-items: flex-start;
}

.isRight {
  align-items: flex-end;
  text-align: right;
}
