.hero {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9rem auto 7rem;
  padding: 0 var(--spacing-m2);
  position: relative;
  overflow: visible;
  z-index: 2;
  text-align: center;

  h1 {
    max-width: 62rem;
    margin: 0 auto 4rem;
    font-size: clamp(3rem, 5vw, 5rem);
    text-transform: capitalize;

    span {
      background: -webkit-linear-gradient(#312ff5, #8743ff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: #4136f1;
    }
  }

  p {
    font-size: clamp(20px, 2vw, 24px);
    opacity: 0.8;
    margin-bottom: 4rem;
  }
}

.bgGrad {
  position: absolute;
  top: 0%;
  left: 115%;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 1200px;
  background-image: radial-gradient(
    at center center,
    rgb(66, 20, 159, 27%),
    transparent 56%
  );
  z-index: -1;
  pointer-events: none;
}

.bgGrad2 {
  position: 'absolute';
  top: '75%';
  left: '-20%';
  transform: 'translate(-50%, -50%)';
  width: '1200px';
  height: '1200px';
  background-image: 'radial-gradient(at center center, rgb(66,20,159,27%), transparent 56%)';
  z-index: '-1';
  pointer-events: 'none';
}
