.demo {
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--bground-linear);
  border-radius: 14px;
  margin: var(--spacing-m2) 0;
}
