.card {
  background: rgba(255, 255, 255, 0.05);
  padding: var(--spacing-m4) var(--spacing-m3);
  border-radius: 10px;
  box-sizing: border-box;

  h4 {
    font-weight: 500;
    font-size: 1.24rem;
    // margin-top: var(--spacing-m3);
  }

  p {
    margin-top: var(--spacing-m2);
    line-height: 1.6rem;
    color: #aeaeb2;
  }
}

.cardGroup {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: var(--spacing-m6);
  gap: var(--spacing-m2);
}
