.nav {
  width: var(--width-nav);
  grid-area: navbar;
  padding-left: 1rem;
  position: fixed;
  right: max(0px, calc(50% - 37.5rem));

  h5 {
    font-size: 0.985rem;
    font-weight: 500;
    margin-bottom: var(--spacing-m2);
  }
}

.isChild {
  padding-left: var(--spacing-m2);
  padding-top: var(--spacing-m1);
}

.list {
  li {
    padding: var(--spacing-m1) 0;
    opacity: 0.75;
  }
}
