// H1
.title {
  font-size: clamp(38px, 45vw, 42px);
  font-weight: 700;
  margin-bottom: var(--spacing-m3);
}

// H2
.subTitle {
  font-size: clamp(28px, 32vw, 32px);
  font-weight: 700;
  margin: var(--spacing-m7) 0 var(--spacing-m2);
}

// H3
.h3 {
  font-size: clamp(19px, 32vw, 23px);
  font-weight: 600;

  margin: var(--spacing-m5) 0 var(--spacing-m2);
}

// P
.paragraph {
  font-size: clamp(16px, 18vw, 18px);
  line-height: 2rem;
  opacity: 0.75;
}

// Pre
.textPre {
  position: relative;
  background-color: #282a36;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.2rem 2rem;
  margin: 1.5rem 0;
  font-size: 1.05rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255, 7%);
  overflow: auto;

  &::-webkit-scrollbar {
    height: 14px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 12px;
    border: 4px solid transparent;
    background-clip: content-box;
  }
}

.textPreBtn {
  position: absolute;
  right: 2rem;
  top: 1.1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  transition: all 200ms ease 0s;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  color: #323338;
  opacity: 0;
  cursor: pointer;
}

.textPreBtn:active {
  transform: scale(0.95);
}

.textPre:hover .textPreBtn {
  opacity: 1;
}

.textPreBtnSuccess {
  background-color: #312ff5;
  color: #f0f3ff;
}

// ul and li
.ul {
  padding-left: var(--spacing-m4);
  margin: var(--spacing-m3) 0;
}

.li {
  margin-bottom: var(--spacing-m1);
  opacity: 0.75;
  font-size: clamp(16px, 18vw, 18px);
  list-style-type: disc;
}
