// H1
.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.8rem;
}

// H2
.subTitle {
  font-size: 1.9rem;
  margin: 60px 0 20px;
}

// P
.paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  opacity: 0.75;
}
