// H1
.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.8rem;
}

// H2
.subTitle {
  font-size: 1.9rem;
  margin: 60px 0 20px;
}

// P
.paragraph {
  font-size: 1.2rem;
  line-height: 2rem;
  opacity: 0.75;
}

// Pre
.textPre {
  position: relative;
  background-color: #282a36;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1.2rem 2rem;
  margin: 1.5rem 0;
  font-size: 1.05rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255, 7%);
}

.textPreBtn {
  position: absolute;
  right: 2rem;
  top: 1.1rem;
  border: 0;
  border-radius: 0.5rem;
  padding: 0.2rem 0.6rem;
  transition: all 200ms ease 0s;
  background-color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  color: #323338;
  opacity: 0;
  cursor: pointer;
}

.textPreBtn:active {
  transform: scale(0.95);
}

.textPre:hover .textPreBtn {
  opacity: 1;
}

.textPreBtnSuccess {
  background-color: #312ff5;
  color: #f0f3ff;
}
