.aside {
  width: var(--width-aside);
  grid-area: aside;
  position: fixed;
  box-sizing: border-box;
}

.list {
  padding-bottom: var(--spacing-m5);

  h5 {
    font-size: 1.15rem;
    font-weight: 500;
    margin-bottom: var(--spacing-m2);
  }

  ol {
    padding-left: var(--spacing-m2);
    border-left: 2px solid rgba(255, 255, 255, 0.1);

    li {
      padding: var(--spacing-m1) 0;
      opacity: 0.75;
      a {
        display: block;
        font-size: 1.05rem;
        font-weight: 400;
      }
    }
  }
}

.itemActive {
  font-weight: 500;
  color: var(--color-secondary);
  position: relative;

  ::before {
    content: '\2022';
    font-size: 18px;
    position: absolute;
    color: var(--color-secondary);
    display: inline-block;
    left: -1.45rem;
    top: 47%;
    transform: translateY(-50%);
  }
}
