.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12rem 0;

  h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-image: linear-gradient(to right, #312ff5, #8743ff);
    background-clip: text;
    color: transparent;
  }

  h3 {
    max-width: 43rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  div {
    background: rgba(255, 255, 255, 0.05);
    padding: 3rem 2rem;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;

    h4 {
      font-weight: 500;
      font-size: 1.3rem;
      margin-bottom: 1.6rem;
    }

    p {
      line-height: 1.6rem;
      opacity: 0.8;
    }
  }
}
