.card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  div {
    background: rgba(255, 255, 255, 0.05);
    padding: var(--spacing-m4) var(--spacing-m3);
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;

    h4 {
      font-weight: 500;
      font-size: 1.3rem;
      margin-top: var(--spacing-m3);
    }

    p {
      margin-top: var(--spacing-m2);
      line-height: 1.6rem;
      color: #aeaeb2;
    }
  }
}
