.wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  transition: all 50ms;

  .header {
    width: 100%;
    height: 80px;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }
}

.scroll {
  background-color: rgba(var(--bg-primary-code), 0.8);
  backdrop-filter: saturate(180%) blur(10px);
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.logo {
  display: flex;
  align-items: center;

  h1 {
    margin-left: 6.5px;
    font-weight: 600;
    font-size: 1.8rem;
  }
}
