.language {
  position: relative;

  button {
    display: flex;
    align-items: center;
    background: transparent;
    padding: var(--spacing-m1) var(--spacing-m2);
    border: 0;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 68px;
    right: 0;
    transition: opacity 150ms ease-in;
    opacity: 0;
    visibility: hidden;

    ul {
      border: 1px solid rgb(82 82 89 / 32%);
      padding: var(--spacing-m1);
      border-radius: 6px;
      background-color: var(--bg-primary);

      li {
        border-radius: 6px;

        &:hover {
          background-color: #313136;
        }

        a {
          display: block;
          line-height: 32px;
          padding: 0 var(--spacing-m3);
          font-size: 15px;
        }
      }
    }
  }

  .menuActive {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 640px) {
    width: 100%;

    button {
      width: 100%;
      justify-content: space-between;

      padding: var(--spacing-m2) 0;
    }

    .menu {
      left: 0;
      ul {
        width: 100%;
        border: 0;
        padding: 0;

        li {
          a {
            padding: 0 var(--spacing-m2);
            line-height: 38px;
          }
        }
      }
    }
  }
}
