.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: var(--spacing-m2);

  .name {
    width: 25%;
  }

  .description {
    width: 75%;
  }

  thead tr th {
    background-color: rgba(255, 255, 255, 0.06);
    padding: var(--spacing-m1);
    font-weight: 500;
    font-size: 15px;
  }

  tbody tr td {
    padding: var(--spacing-m2) var(--spacing-m1);
    font-size: 14.5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  }
}
